.container {
    width: 320px;
    margin: 0 auto;
    background-color: red;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      width: 1024px;
      margin: 0 auto;
    }
  }
  