.catalog__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.catalog__text1 {
  width: 288px;
  height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: $type-dark;
  fill: solid;
}

.catalog__text2 {
  width: 288px;
  height: 84px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: rgba(44, 46, 63, 0.7);
  fill: solid;
}

.catalog__list {
  list-style: none;
  padding-left: 20px;
  margin: 0 auto;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 288px;
  height: 425px;
  margin-bottom: 35px;
  background-repeat: no-repeat;
}

.greece {
  background-image: url("../img/greece2.png");
}

.albany {
  background-image: url("../img/albany.png");
}

.macedonia {
  background-image: url("../img/macedonia.png");
}

.montenegro {
  background-image: url("../img/montenegro.png");
}

.croatia {
  background-image: url("../img/croatia.png");
}

.catalog__item-state {
  width: 215px;
  height: 61px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 61px;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog__text2 {
    width: 343px;
    height: 56px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 76px;
  }

  .greece {
    margin-right: 40px;
  }

  .macedonia {
    margin-right: 40px;
  }

  .croatia {
    margin-left: 164px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1159px;
    margin-left: 375px;
    padding: 0;
    outline: 1px solid red;
  }

  .catalog__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    width: 358px;
    height: auto;
    margin: 0;
    padding: 0;
    outline: 1px solid green;
  }

  .catalog__text1 {
    width: 358px;
    height: 160px;
    padding-bottom: 64px;
    font-size: 55px;
    line-height: 80px;
    text-align: left;
  }

  .catalog__text2 {
    width: 358px;
    height: 56px;
    text-align: left;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
  }

  .catalog__item {
    width: 350px;
    height: 430px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
  }

  .greece {
    background-image: url("../img/greece.png");
    margin-right: 54px;
    margin-left: 0;
  }

  .albany {
    margin-right: 54px;
  }

  .macedonia {
    margin-right: 0;
  }

 .montenegro {
    margin-left: 160px;
    margin-right: 140px;
  }
}
