@media (min-width: $desktop-width) {
  .container {
    width: 1920px;
    margin: 0;
    padding: 0 375px;
    background-color: $white;
    outline: 1px solid red;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .container {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: yellow;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: auto;
    margin: 0;
    padding: 0 5.6%;
    background-color: green;
  }
}
