@media (min-width: $desktop-width) {
  .container {
    width: 1920px;
    margin: 0;
    padding: 0 375px;
    background-color: $light-grey;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .container {
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: $light-grey;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: auto;
    margin: 0;
    padding: 0 5.6%;
    background-color: $light-grey;
  }
}
