.details {
  padding: 0;
  margin-bottom: 110px;
  position: relative;
}

.details__list {
  list-style: none;
}

.details__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 260px;
  height: 30px;
  margin-left: 18px;
  margin-bottom: 40px;
  padding: 0;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
}

.details__list-item {
  width: 91px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #fe7865;
}

.details__list-item2 {
  color: #2C2E3F;
}

.details__list-item3 {
  display: none;
}

.details__list-item4 {
  display: none;
}

.details__list-item5 {
  display: none;
}

.details__wrap-left {
  margin-left: 18px;
}

.details__state {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.details__text {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #2C2E3F;
  opacity: 0.7;
}

.details__button {
  width: 288px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.details__feedback {
  position: absolute;
  top: 700px;
  left: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 268px;
  height: 431px;
  background-color: #ffffff;
}

.details__feedback-title {
  font-size: 20px;
  line-height: 24px;
}

.details__feedback-text {
  width: 228px;
  height: 221px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.details__feedback-customer {
  margin-top: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #2C2E3F;
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .details__list {
    width: 710px;
    margin-bottom: 45px;
  }

  .details__list-item {
    width: 130px;
    margin: 0;
    padding: 0;
  }

  .details__list-item3 {
    display: block;
    color: #2C2E3F;
  }

  .details__list-item4 {
    display: block;
    color: #2C2E3F;
  }

  .details__state {
    width: 129px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    color: #2c2e3f;
  }

  .details__wrap-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }

  .details__text {
    width: 726px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.47px;
  }

  .details__button {
    width: 250px;
    height: 50px;
  }

  .details__photo-wrap {
    width: 767px;
    height: 415px;
  }

  .details__photo {
    width: 767px;
    height: 415px;
  }

  .details__feedback {
    top: 480px;
    left: 190px;
    width: 382px;
    height: 367px;
    padding-left: 30px;
    align-items: flex-start;
  }

  .details__feedback-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .details__feedback-text {
    width: 322px;
    height: 164px;
    margin-bottom: 0;

    text-align: left;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.41px;
    outline: 1px solid red;
  }

  .details__feedback-customer {
    margin-left: 55px;
    outline: 1px solid red;
  }
}

@media (min-width: $desktop-width) {
  .details {
    margin-top: 25px;
    margin-left: 375px;
    margin-bottom: 230px;
  }

  .details__list {
    width: 900px;
    margin: 0;;
    margin-bottom: 85px;
  }

  .details__list-item3 {
    display: block;
    color: #2C2E3F;
  }

  .details__list-item4 {
    display: block;
    color: #2C2E3F;
  }

  .details__list-item5 {
    display: block;
    color: #2C2E3F;
  }

  .details__wrap {
    width: 900px;
    outline: 1px solid green;
  }

  .details__wrap-left {
    width: 425px;
    margin: 0;
    margin-right: 45px;
    padding: 0;
  }

  .details__state {
    width: 424px;
    margin-bottom: 49px;
    font-size: 55px;
    line-height: 90px;
    text-align: left;
  }

  .details__text {
    width: 370px;
    margin-bottom: 45px;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.47px;
  }

  .details__button {
    width: 250px;
    height: 75px;
  }

  .details__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .details__photo-wrap {
    width: 430px;
    height: 568px;
  }

  .details__photo {
    width: 430px;
    height: 596px;
  }

  .details__feedback {
    position: absolute;
    top: 220px;
    left: 790px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 382px;
    height: 367px;
    padding-top: 30px;
    padding-left: 25px;
    background-color: #ffffff;
  }

  .details__feedback-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36.6px;
    letter-spacing: -0.69px;
  }

  .details__feedback-text {
    width: 306px;
    height: 189px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.41px;
    text-align: left;
  }

  .details__feedback-customer {
    margin: 0;
    padding: 0;
    margin-left: 55px;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.47px;
  }
}
