.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

.footer__trip {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footer__next-title {
  width: 288px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.footer__towns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer__towns ul {
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.footer__towns-list1 {
  width: 120px;
  margin: 0;
}

.footer__towns-list2 {
  width: 200px;
  margin: 0;
}

.footer__towns-list3 {
  width: 280px;
}

.footer__towns-item {
  margin-bottom: 10px;
}

.footer__contact {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.footer__contact-title {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.footer__mail-wrap {
  margin-bottom: 20px;
  margin-left: 50px;
}

.footer__mail {
  text-decoration: none;
  font-size: 14px;
  color: $pink;
}

.footer__tel {
  margin-left: 30px;
  font-size: 16px;
  line-height: 32px;
  color: $pink;
}

.footer__corporation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
}

.footer__corporation-title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.footer__corporation-text {
  width: 288px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .footer {
    flex-direction: row;
    width: 768px;
    outline: 1px solid red;
    justify-content: flex-start;
  }

  .footer__trip {
    width: 416px;
  }

  .footer__contact {
    width: 350px;
  }

  .footer__corporation {
    width: 767px;
  }

  .footer__towns {
    align-items: flex-start;
    outline: 1px solid red;
  }

  .footer__towns-item {
    width: 125px;
    text-align: left;
    outline: 1px solid blue;
  }

  .footer__towns-list1,
  .footer__towns-list2,
  .footer__towns-list3 {
    width: 125px;
    padding: 0;
    outline: 1px solid green;
  }
}
/*
@media (min-width: 1024px) and (max-width: 1919px) {
  .footer {
    display: flex;
    flex-direction: row;
    width: 1024px;
    justify-content: space-between;
    margin-top: 140px;
    padding-left: auto;
    padding-right: auto;
    outline: 1px solid red;
  }

  .footer__trip {
    width: 340px;
  }

  .footer__contact {
    width: 340px;
  }

  .footer__corporation {
    width: 340px;
  }

  .footer__towns-list1,
  .footer__towns-list2,
  .footer__towns-list3 {
    width: 110px;
    padding: 0;
    outline: 1px solid green;
  }
}
*/
@media (min-width: $desktop-width) {
  .footer {
    display: flex;
    flex-direction: row;
    width: 1920px;
    justify-content: space-between;
    margin-top: 140px;
    padding-left: 375px;
    padding-right: 375px;
    outline: 1px solid red;
  }

  .footer__trip {
    width: 387px;
  }

  .footer__contact {
    width: 390px;
  }

  .footer__corporation {
    width: 390px;
  }

  .footer__towns-list1,
  .footer__towns-list2,
  .footer__towns-list3 {
    width: 125px;
    padding: 0;
    outline: 1px solid green;
  }
}
