@media (min-width: $desktop-width) {
  .page-header {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: red;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: yellow;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: green;
  }
}
