@media (min-width: $desktop-width) {
  .page-header {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: red;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    width: auto;
    height: 44.79vw;
    margin: 0;
    padding: 0;
    background-color: $light-grey;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: $light-grey;
  }
}
