.page-header {
  width: auto;
  height: 563px;
  background-color: red;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 394px;
    background-color: rgb(51, 255, 0);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 860px;
    background-color: rgb(25, 0, 255);
  }
}
