.page-body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  outline: 1px solid grey;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    outline: 1px solid grey;
  }
}

@media (min-width: $desktop-width) {
  .page-body {
    width: 100%;
  }
}
