.promo {
  margin: 0;
  margin-bottom: 80px;
}

.promo__header {
  width: 320px;
  height: 235px;
  margin: 0;
  padding-top: 80px;
  padding-left: 10px;
  background-image: url("../img/promo-mobile.png");
  outline: 1px solid red;
}

.promo__title {
  width: 294px;
  height: 72px;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}

.promo__number-one {
  width: 288px;
  height: 108px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}

.promo__search {
  width: 288px;
  height: 50px;
  margin: 0 auto;
  margin-left: 18px;
}
